.progressFrontend {
  height: 50vh;
  border: 1px solid #4ecca3;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.progressFrontend__body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.progressFrontend__body__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: transform 400ms ease-in-out;
}
.progressFrontend__body__item:hover {
  transform: scaleY(1.2);
}
.progressFrontend__body__item > img {
  width: 110px;
  height: 100px;
}

.progressFrontend__body__item > svg {
  padding-top: 20px;
}

.progressFrontend__body__item > h4 {
  padding: 10px;
}
