.roadMapGoals {
  color: #4ecca3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadMapGoals__progress {
  display: flex;
  justify-content: space-between;
}

.roadMapGoals__progress__item > .circleProgress {
  width: 50%;
  padding: 20px;
  margin: 10px;
}

.roadMapGoals__progress__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.roadMapGoals__progress__item > h5 {
  font-size: x-large;
}
