.header{
    color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    border-bottom: 4px double #4ecca3;
    z-index: 99;
    position: sticky;
    top:0;
    background-color: rgba(0,0,0,0.8);
}

.header__logo > a >  img{
    margin-left:10px;
    width: 260px;
    transition: transform 200ms ease-in;
}

.header__logo > a > img:hover{
    transform: scale(1.2);
}

.header__tools{
    display: flex;
    flex:row;
    align-items: center;
    opacity: 0.4;
}

.header__tools > h4{
    padding-left:10px;
    padding-right:10px;
    font-size: small;  
}

.header__tools > div{
    display: flex;
    align-items: center;
    padding-left:10px;
    padding-right: 10px;
}

.header__tools > div > h4{
    padding-left:10px;
    padding-right: 10px;
    font-size: small;
}

.header__tools > div > img{
    padding-left:10px;
    padding-right: 10px;
    width: 40px;
}

.header__navigation{  
    display:flex;
    
}

.header__navs{
    display: flex;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left:10px;
}

.header__nav > img{
    padding: 3px;
    object-fit: contain;
    width: 40px;
}

.header__nav > a > button{
    background-color: transparent;
    
    
    font-size:13px;
    cursor:pointer;
    opacity: 0.7; 
    transition: transform 300ms ease-in;
    color: #eeeeee;
    border:none;
    font-size: large;
}

.header__nav:hover{
    transform: scale(1.2);
    opacity: 1;
    
}

.header__nav--active{
    border-bottom: 2px solid white;
}