.home{
    color: white;
    display: flex;
    flex-direction: column;  
}
.home__welcome{
    text-align: center;
}

.home__navs{
    display: flex;
    justify-content: space-evenly;
    padding-top:20px;
}
.home__nav{
    margin-top:30px;
    display: flex;
    margin-bottom:30px;
    flex-direction: column-reverse;
    align-items: center;
}

.home__feedback{
    text-align: center;
    margin-top:50px;
   
}

.home__feedback__login{
    padding:40px;
}



