.navbar {
  display: flex;
  flex-direction: column;
  height: 60vh;
  z-index: 200;
  width: 10%;
  border-right: 1px solid lightgray;
  font-family: "Grandstander" !important;
}
.navbar > a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.link--active {
  text-decoration: underline !important;
  font-weight: 800;
  opacity: 1 !important;
  font-size: 22px !important;
}

.navbar > a:hover {
  color: white !important;
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    border-bottom: 1px solid lightgray;
    border-right: none;
    height: 10vh;
    top: 20%;
    width: auto;
  }
}
