.portfolio{
    color: #eeeeee;
    
    
}

.portfolio__summary{
    display:flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:10px;
    justify-content: center;
    align-items: center;
    margin-bottom:40px;
    padding:20px;
}
.portfolio__summary > h1{
    padding:10px;
    cursor:pointer;
    opacity: 0.6;
    transition: transform 60ms ease-in-out;

}

.portfolio__summary > h1:hover{
    opacity: 1;
    transform: scaleY(1.3);
}

.portfolio__summary > h3{
    padding:10px;
    opacity: 0.6;
}

.portfolio__body{
    display: flex;
    justify-content: space-between;
}
