.projectCard {
  width: 220px;
  height: 125px;
  border: 1px solid lightgray;
  margin: 10px !important;
  position: relative;
}

.projectCard > figcaption > p {
  font-size: 12px;
}

.projectCard > img {
  object-fit: fill;
  width: 220px;
  height: 125px;
}
