.projectDetail{
    height: 470px;
    border: 1px solid #4ecca3;
    margin-right:40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: #000000cc;
    display: flex;
    flex-direction: column;
    color:#4ecca3;
    
}

.projectDetail__top{
    text-align: center;
}

.projectDetail__body__top{
    display: flex;
    justify-content: space-evenly;
}


.projectDetail__body> div >img{
    object-fit: contain;
    width: 200px;
    height: 200px;
}
.projectDetail__body__summary{
    width: 200px;
    border: 1px solid #4ecca3; 
    
}

.projectDetail__body__links{
    display: flex;
    justify-content: space-evenly;
    padding:30px;
    
}

.projectDetail__body__linkItem{
    padding: 10px;
    transition: transfrom 100ms ease-out;
    opacity: 0.7;
}

.projectDetail__body__linkItem:hover{
    transform: scale(1.2);
    opacity: 1;
}

.projectDetail__body__linkItem > button{
    background: transparent;
    border:none;
    color: #4ecca3;
}

.projectDetail__body__linkItem > img{
    width: 32px;
}

.projectDetail__bottom{
    display: flex;
    justify-content: space-evenly;
}
.projectDetail__bottom > img{
    width: 56px;
}

.projectDetail__noneSelected{
    padding:20px;
    display: flex;
    flex-direction: column;
}

.projectDetail__noneSelected >h1 {
    padding:10px;
    text-align: center;
}