.about {
  display: flex;
  flex-direction: row;

  margin-top: 30px;
  font-family: "Grandstander";
}

.about__title > h1 {
  color: #968b8b !important;
  font-family: "Grandstander";
  padding: 10px 0px;
}

.about__right {
  display: flex;
  flex-direction: column;
}

.about__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-left: 30px;
  margin-right: 40px;
}

.about__left__info > h2 {
  margin-top: 40px;
}
.about__left__info > span {
  margin-top: 20px;
  color: #968b8b;
}

.about__avatar {
  width: 100px !important;
  height: 100px !important;
}

.about__center {
  margin: 0px 20px;
  color: white;
  flex: 1;
  margin-left: 30px;
}

.about__center > p {
  width: 60%;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  text-align: justify;
}
.about__contact {
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 625px) {
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__left {
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
  }
  .about__left__info {
    margin-left: 20px;
    display: grid;
    place-items: center;
  }
  .about__center {
    display: grid;
    place-items: center;
    margin-bottom: 20px;
  }

  .about__center > .about__title {
    text-align: center;
  }
  .about__center > p {
    text-align: center;
    font-size: 20px;
  }
}
