.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

.about__title > h1 {
  color: #968b8b !important;
  padding: 10px 0px;
}

.about__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-left: 30px;
  margin-right: 40px;
}

.about__left__info > h2 {
  margin-top: 40px;
}
.about__left__info > span {
  margin-top: 20px;
  color: #968b8b;
}

.about__avatar {
  width: 200px !important;
  height: 200px !important;
  border-radius: 90px !important;
}

.about__center {
  color: white;
  margin-left: 30px;
  text-align: center;
  margin-top: -50px;
}

.about__center > p {
  padding: 20px;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}
.about__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about__right > img {
  object-fit: contain;
  width: 200px;
  padding: 20px;
  border-radius: 30px;
}

@media all and (max-width: 625px) {
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__left {
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
  }
  .about__left__info {
    margin-left: 20px;
    display: grid;
    place-items: center;
  }
  .about__center {
    display: grid;
    place-items: center;
    margin-bottom: 20px;
    margin-top: -20px;
  }

  .about__center > .about__title {
    text-align: center;
  }
  .about__center > p {
    text-align: center;
    font-size: 20px;
  }
}
