.home {
  position: relative;
  height: 70%;
  font-family: "Grandstander";
  margin-top: 30px;
  overflow-y: hidden !important;
}

.home__info {
  display: grid;
  place-items: center;
  z-index: 100;
  color: white;
}

.home__info > h1 {
  font-size: 50px;
  font-weight: 900;
  font-family: "Grandstander";
}

.home__info > p {
  color: #aca1a1;
  font-size: 20px;
  width: 60%;
}
.home__icons {
  width: 40%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.home__icons > svg {
  font-size: 40px;
  margin: 0px 10px;
  cursor: pointer;
  transition: transform 200ms ease-in !important;
  opacity: 0.5;
}

.home__icons > svg:hover {
  transform: scale(1.5) !important;
  opacity: 1;
}
