.resume {
  width: 85vw;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Grandstander";
}

.resume__education,
.resume__work {
  width: 50%;
}

.resume__education > h1,
.resume__work > h1 {
  font-family: "Grandstander";
}

.resume__education__content,
.resume__work__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .resume {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
  .resume__education,
  .resume__work {
    width: auto;
  }
  .resume::-webkit-scrollbar {
    display: none;
  }
}
