.resume {
  width: 100%;
  padding: 0px 15px;
  color: white;
  display: flex;
  justify-content: center;
  height: 150vh;
}

.resume__education,
.resume__work {
  width: 50%;
}

.resume__education__content,
.resume__work__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .resume {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .resume__education,
  .resume__work {
    width: auto;
  }
}

@media only screen and (max-width: 900px) {
  .resume {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .resume__education,
  .resume__work {
    display: grid;
    place-items: center;
  }
  .resume__education > h1,
  .resume__work > h1 {
    padding: 20px;
  }
}
