.folderItem {
  position: relative;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
  cursor: pointer;
  transition: transform 130ms ease-in;
}

.folderItem:hover {
  transform: scale(1.2);
  opacity: 1;
}

.folderItem > .MuiSvgIcon-root {
  font-size: 60px;
}

.folderItem > img {
  position: absolute;
  top: 2px;
  right: 10px;
  width: 50px;
}

.folderItem > p {
  font-size: 20px;
  margin-top: -10px;
}
